.contactWrapperCfr{
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  label{
    margin-bottom: 0.5rem;
  }
}
.contactHeadlineCfr{
  line-height: 3rem;
}
.headlineWrapperCfr{
 margin-bottom: 2rem;
}

.formWrapperFr{
  
}

.nameEmailCfr{
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}
.inputCfr{
  width: 100%;
}

.inputWrapperCfr{
  width: 100%;
}
.inputWrapperEmailCfr{
  width: 100%;
}
.submitButtonCfr{
  width: 30%;
  margin-left: auto;
  margin-top: 1rem;
}

.button__termsWrapperCfr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 1000px){
  .submitButtonCfr{
    width: 100%;
    margin-left: 0;
  }
  .contactWrapperCfr{
    padding: 2rem;
  }

  .button__termsWrapperCfr{
    flex-direction: column;
    align-items: stretch;
  }
  .contactHeadlineCfr{
    line-height: 1rem;
  }
}

