.heroWrapper {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
}

.textWrapper {
  display: flex;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  width: max-content;

  span {
    font-size: 7em;
    font-weight: 700;
    text-align: center;
    position: relative;
    color: var(--theme-color);
    transition: 1s;
  }

}

@keyframes spacing_animation {
  0% {
    letter-spacing: 0;
  }

  100% {
    letter-spacing: 1rem;
  }
}

.hendoImage {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.letterL {
  margin-right: 2rem;
}

.imageBg {
  position: absolute;
  height: 300px;
  width: 300px;
  background: var(--theme-color);
  transition: 1s;
  left: 50%;
  transform: translate(-50%);
  border-radius: 10rem;
}