.heroWrapper{
  position: relative;
  height: 100vh;

}
.bg-image{
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.heroTextWrapper{
  position: relative;
}
.headlineText{
  text-align: center;
  position: sticky;
  top: 20px;
}

.headlineBody{
  margin: 0 auto;
  max-width: 80%;
}