.hrsWrapper {
  position: relative;
  min-height: 150vh;
  margin: 0;
 
}

.hrsHeadlineWrapper{
  position: fixed;
  top: 10rem;   /* 👈 initial position on first paint */
  left: 0;
  width: 100%;
}
.hrsHeadline {
  text-align: center;
  width: 100%;
  text-align: center;
  font-size: 10rem;
  line-height: 9rem;
}
.hrsJapan{
  text-align: center;
  font-weight: 400;
  font-size: 4rem;
}

.hrsCtaWrapper{
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  padding: 2rem;
  margin-top: 10rem;
  z-index: 1;
}
.hrsCtaWrapper *{
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
}

.hrsImgWrapper{
  position: relative;

}

.bgImg, .hendoImage{
  position: absolute;
  margin: 0 auto;
  z-index: -1;
  width: 100%;
  height: auto;
}
.hendoImage{
  z-index: 2;
}

@media (max-width: 1000px){
.hrsWrapper{
  min-height: 100svh
  
}
  .hrsHeadline{
    font-size: 4rem;
    line-height: 4rem;
  }
  .hrsCtaWrapper{
    margin-top: 5rem;
  }
  .hrsJapan{
    font-size: 2rem;
  }
  .bgImg, .hendoImage{
   scale: 2;
    
  }

    .hrsHeadlineWrapper {
    top: 5rem;
  }
  .hrsImgWrapper{
  min-width: fit-content;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
}


@media (max-width: 1000px) and (orientation: landscape) {
  .hrsWrapper {
    min-height: 200vh;
  }

  .bgImg,
  .hendoImage {

    scale: 1;
    
  }
}

/* GRADIENT MASK ON IMAGES */
.bgImg {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 1) 100%
  );

  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 1) 100%
  );
}
