.hero__wrapper {
  height: 100vh;
  background: rgb(0, 0, 0);
  text-align: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
}



.hendoImageDiv {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-image: url("/images/hendo/3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: glitch 3.5s infinite steps(1);
  z-index: 11;
}

@keyframes glitch {
  0%, 90% {
    background-image: url('/images/hendo/3.png');
  }
  92.5% {
    background-image: url('/images/hendo/glitch1.png');
    background-size: contain;
    z-index: 1;
  }
  95.5% {
    background-image: url('/images/hendo/glitch2.png');
    background-size: contain;
    z-index: 1;
  }
  97.5% {
    background-image: url('/images/hendo/glitch3.png');
    background-size: contain;
    z-index: 1;
  }
}

.headline {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  z-index: 10;
}

.headline span{
  position: relative;
  line-height: 0;
}
