.hrsWrapper {
  position: relative;
  min-height: 150vh;
  margin: 0;
 
}

.hrsHeadlineWrapper{
  position: fixed;
  top: 10rem;   /* 👈 initial position on first paint */
  left: 0;
  width: 100%;
  
}
.hrsHeadline {
  text-align: center;
  width: 100%;
  text-align: center;
  font-size: 10rem;
  line-height: 9rem;
  margin-bottom: 3rem;
}
.hrsJapan{
  text-align: center;
  font-weight: 900;
  color: rgb(255, 24, 24);
  font-size: 5rem;
  
}

.hrsCtaWrapper{
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  padding: 2rem;
  margin-top: 15rem;
  z-index: 1;
}
.hrsCtaWrapper *{
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
}

.hrsDescription{
  font-size: 1.5rem;
  width: 40%;
  line-height: 2rem;
}

.hrsImgWrapper{
  position: relative;

}

.bgImg, .hendoImage{
  position: absolute;
  margin: 0 auto;
  z-index: -1;
  width: 100%;
  height: auto;
}

.bgImg{
  

}
.hendoImage{
  z-index: 2;
  top: 0.5rem;
}

@media (max-width: 1000px){
.hrsWrapper{
  min-height: 100svh
  
}
  .hrsHeadline{
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 1rem;
  }
  .hrsCtaWrapper{
    margin-top: 5rem;
  }
  .hrsJapan{
    font-size: 2rem;
  }
  .bgImg, .hendoImage{
   scale: 2;
  top: 10rem;
  }

    .hrsHeadlineWrapper {
    top: 5rem;
  }
  .hrsImgWrapper{
  min-width: fit-content;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
}

.hrsDescription{
  width: 90%;
}

@media (max-width: 1000px) and (orientation: landscape) {
  .hrsImgWrapper{
    overflow: hidden;
  }
  .hrsWrapper {
    min-height: 200vh;
  }

  .bgImg,
  .hendoImage {

    scale: 1;
    
  }

  
}

/* GRADIENT MASK ON IMAGES */
/* GRADIENT MASK ON IMAGES - FIXED FOR SAFARI */
