.hero__wrapper {
  height: 100vh;

  text-align: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
}



.hendoImageDiv {
  position: relative;
  margin: 0 auto;
  width: 50%;
  height: 100vh;
  background-image: url("/images/hendo/4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: glitch 3.5s infinite steps(1);
  z-index: 9;
  top: 40px;
}

@keyframes glitch {

  0%,
  90% {
    background-image: url('/images/hendo/4.png');
  }

  92.5% {
    background-image: url('/images/hendo/glitch1.png');
    background-size: contain;
    z-index: 1;
  }

  95.5% {
    background-image: url('/images/hendo/glitch2.png');
    background-size: contain;
    z-index: 1;
  }

  97.5% {
    background-image: url('/images/hendo/glitch3.png');
    background-size: contain;
    z-index: 1;
  }
}

/* Glitch trigger animation - triggered by color changes */
.glitch-trigger {
  animation: glitchTrigger 1s steps(1);
}

@keyframes glitchTrigger {
  0% {
    background-image: url('/images/hendo/4.png');
  }

  10% {
    background-image: url('/images/hendo/glitch1.png');
    background-size: contain;
    z-index: 1;
  }

  20% {
    background-image: url('/images/hendo/glitch2.png');
    background-size: contain;
    z-index: 1;
  }

  30% {
    background-image: url('/images/hendo/glitch3.png');
    background-size: contain;
    z-index: 1;
  }

  40% {
    background-image: url('/images/hendo/glitch1.png');
    background-size: contain;
    z-index: 1;
  }

  50% {
    background-image: url('/images/hendo/glitch2.png');
    background-size: contain;
    z-index: 1;
  }

  60% {
    background-image: url('/images/hendo/glitch3.png');
    background-size: contain;
    z-index: 1;
  }

  70% {
    background-image: url('/images/hendo/glitch1.png');
    background-size: contain;
    z-index: 1;
  }

  80% {
    background-image: url('/images/hendo/glitch2.png');
    background-size: contain;
    z-index: 1;
  }

  90% {
    background-image: url('/images/hendo/glitch3.png');
    background-size: contain;
    z-index: 1;
  }

  100% {
    background-image: url('/images/hendo/4.png');
  }
}

.headline {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 5;
}

.headline span {
  position: relative;
  font-size: 10rem;
  font-family: var(--lemonmilk);
  text-align: left;
}

.headline {
  top: 15%;
}

.headline span {
  font-size: 14vh;
  line-height: 13vh;
}

@media (max-width: 800px) {
  .hendoImageDiv {
    top: 10%;
    width: 100%;
  }
}

.void {
  position: relative;
  top: -50px;
  height: 100px;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
}

.playButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  padding: 10px;
  display: inline-block;
}

.playIcon {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.playIcon:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.playIcon svg {
  color: var(--theme-color);
  margin-left: 3px;
  /* Slight offset to center the play icon */
  width: 48px;
  height: 48px;
}
