.underWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed; /* <--- instead of absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.underConstructionText{
  border-radius: 2rem;
  text-align: center;
  font-size: var(--text-3xl);
  font-family: var(--lemonmilk);
  background-color: yellow;
  color: black;
  padding: 1rem;
  margin-top: 1rem;
    background: var(--theme-color);
  transition: background-color 1s ease, box-shadow 1s ease;
  box-shadow: 0 0 20px var(--theme-color);
}
.newsletterWrapper {
  display: flex;          /* put input + button side by side */
  justify-content: center;
  gap: 0;                 /* no gap between */
  width: 40%;
  margin-top: 3rem;
  padding: 1rem;
}

.inputNewsletter:focus{
  outline: var(--theme-color);
  border: none;
  transition: background-color 0.5s ease, box-shadow 1s ease;
  box-shadow: 0 0 20px var(--theme-color);
}
.inputNewsletter::placeholder{
  color: gray;
}

.inputNewsletter {
  flex: 0 0 80%;          /* lock to 80% width */
  padding: 1rem;
  border-radius: 20px 0px 0 20px;
}

.subscribe {
  flex: 0 0 20%;          /* lock to 20% width */
  padding: 1rem;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  background-color: yellow;
  border: none;
  font-family: var(--lemonmilk);
    background: var(--theme-color);
  transition: background-color 0.3s ease, box-shadow 1s ease;
  box-shadow: 0 0 20px var(--theme-color);
}

.subscribe:hover{
  background-color: lightgray;
  color: black;
}



.subscribeDescription {
  font-family: roboto;
  margin-top: 2rem;
  max-width: 600px;
  font-weight: 200;
  text-align: center;
  text-transform: none;
  font-size: 22px;  
}

.subscribeDescription::selection{
    margin-top: 1rem;
    background: var(--theme-color);
  transition: background-color 1s ease, box-shadow 1s ease;
  box-shadow: 0 0 20px var(--theme-color);
  color: black;
}


.my-recaptcha-disclaimer{
  color: rgb(61, 61, 61);
  font-size: 14px;
  font-weight: 500;
}

.linkRecaptcha{
  color: rgb(72, 72, 142);
  text-decoration: none;
}
.errorMessage{
  color: var(--neon-red);
  font-weight: 400;
}
@media (max-width: 1000px){

}