@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');
@import './variables.css';

* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: var(--font-lemonmilk), system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html,
body {
  background-color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  color: var(--background);
  background-color: black;
  font-family: var(--font-lemonmilk);
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

img::selection {
  background-color: transparent;

}

a {
  letter-spacing: 2px;
}

h1 {
  font-size: var(--text-7xl);
  font-family: var(--font-lemonmilk);
  font-weight: 200;
  letter-spacing: var(--space-2);
  line-height: var(--text-7xl);
  margin-bottom: 2rem;
}

h1::selection {
  background-color: var(--brand-color);
  color: var(--foreground);
}

h2 {
  font-size: var(--text-5xl);
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  letter-spacing: var(--space-1);
  margin-bottom: 1rem;
}

h3 {
  font-size: var(--text-4xl);
}

h4 {
  font-size: var(--text-3xl);
}

p,
li {
  font-size: var(--text-lg);
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.5rem;
}

p::selection {
  background-color: red;
  color: white;
}

h5 {
  font-size: var(--text-m);
}

h6 {
  font-size: var(--text-sm);
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--foreground);
  padding: 2rem;
  border-radius: 1rem;
  border-top: solid rgb(225, 225, 225, 0.1);
  box-shadow: 0 0 13px rgb(21, 21, 21, 0.3);
}

button {
  flex: 0 0 20%;
  /* lock to 20% width */
  padding: 1rem;
  border-radius: 1.2rem;
  cursor: pointer;
  background-color: yellow;
  border: none;
  font-family: var(--font-lemonmilk);
  background: var(--theme-color);
  transition: background-color 0.3s ease, box-shadow 1s ease;

}

button:hover {
  background-color: var(--foreground);
  color: white;
  box-shadow: 0 0 20px var(--theme-color);
}

input,
textarea {
  outline: 1px solid var(--theme-color);
  padding: 0.7rem;
  transform: 1s ease;
  font-family: "Roboto";
  border-radius: 1rem;
  color: rgb(208, 208, 208);
}

input:focus,
textarea:focus {
  border: none;
  transition: background-color 0.5s ease, box-shadow 1s ease;
  box-shadow: 0 0 15px var(--theme-color);
  background-color: var(--foreground);
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: gray;
  font-style: italic;
}








.main {
  width: 100%;
  font-size: 1.3rem;
}


.section-full {
  width: 100%;
  margin: 0 auto;
  margin-top: var(--space-22);
  margin-bottom: var(--space-22);

}

.section-regular,
.heroSection {
  width: 80%;
  margin: 0 auto;
  margin-top: var(--space-10);
  margin-bottom: var(--space-25);
}

.heroSection {
  margin-top: var(--space-14)
}

.colorBox {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}



@media (max-width: 1000px) {
  body {
    font-size: 1rem;
  }

  .section-regular,
  .heroSection {
    width: 90%;

  }

  h1 {
    font-size: var(--text-5xl);
  }

  h2 {
    font-size: var(--text-3xl);
  }

  h3 {
    font-size: var(--text-2xl);
  }

  h4 {
    font-size: var(--text-xl)
  }

  li,
  p {
    font-size: var(--text-m);
  }

  h5 {
    font-size: var(--text-sm);
  }

  h6 {
    font-size: var(--text-xs);
  }
}

.grecaptcha-badge {
  visibility: hidden;
  /* hide it */
}

.my-recaptcha-disclaimer {

  color: #e6e6e6;
  text-align: center;
  margin-top: 1rem;
}